In [3]:
apes = ["Homo", "Pan", "Gorilla"]
for variable in apes:
    print(variable + " is an ape")

Homo is an ape
Pan is an ape
Gorilla is an ape

In [6]:
apes = ["Homo", "Pan", "Gorilla"]
for ape in apes:
    name_length = len(ape)
    first_letter = ape[0]
    print(ape + " is an ape. Its name starts with " + first_letter)
    print("Its name has " + str(name_length) + " letters")

Homo is an ape. Its name starts with H
Its name has 4 letters
Pan is an ape. Its name starts with P
Its name has 3 letters
Gorilla is an ape. Its name starts with G
Its name has 7 letters

In [5]:
for number in range(2,14,4):
    print(number)

2
6
10

In [7]:
count = 1
while count<10:
    print(count)
    count = count + 1

1
2
3
4
5
6
7
8
9

In [9]:
expression_level = 125
if expression_level > 100:
    print("gene is highly expressed")

gene is highly expressed

In [12]:
x=5
if x%2 ==0:
    print("Divisible by 2")
else:
    print("Not Divisible by 2")

Not Divisible by 2

# Class Assignment

1. Unique Families - 194
2.

# Helpful Lines

1. tail -n+4 formated.csv | cut -d "," -f 3 | sort | uniq | wc -l
2. cat .csv file | tr "\r" "\n" > new file name